* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  list-style-type: none;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/banner.jpg");
  background-size: cover; /* Adjusts the image to cover the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling of the image */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero-content button {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
  color: white;
  background-color: black;
  font-weight: 800;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav ul li:hover {
  cursor: pointer;
  color: gray;
  text-decoration: underline;
}

header img {
  display: none;
}

header img {
  width: 10%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Responsive columns */
  gap: 20px; /* Spacing between grid items */
  padding: 20px;
}

.speakers h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content button:hover {
  color: black;
  background-color: white;
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 100%; /* or max-height: 100% if you want to control the height */
}

.about img {
  width: 50%;
}

.about {
  height: 100vh;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 5%;
}

.about p {
  width: 50%;
  text-align: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-size: 10px;
  gap: 20px;
}

.grid-item h1 {
  font-weight: 500;
}

.schedule h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.schedule div img {
  max-width: 40%;
}

.event {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  border: 2px solid blue;
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.eventText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  padding: 2%;
}

.eventText h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.eventText p {
  font-size: 25px;
}

footer {
  background-color: black;
  padding: 5%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 700;
}

@media (max-width: 768px) {
  header img {
    display: block;
  }

  nav {
    display: none;
  }

  .hero-content button {
    font-size: 100%;
  }

  .hero-content h1 {
    font-size: 25px;
  }
  .about p {
    width: 80%;
  }

  .about img {
    width: 80%;
  }

  .schedule {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .schedule div img {
    max-width: 100%;
  }

  footer {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .hero-content h1 {
    font-size: 35px;
  }
}
